footer{
	background: darkgrey;
}

footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
	padding-top: 10px;
}

.copy{
	font-size: 20px;
	margin-bottom: 15px;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;	
}

.sociales a{
	color: #333;
	text-decoration: none;
	padding: 15px;
}	

@media(min-width: 768px){
	.sociales{
		width: auto;
	}

	footer .contenedor{	
		justify-content: space-between;	
	}
}