@import url(menu.css);
@import url(footer.css);

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body,html{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background: #112231;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin: auto;
}

h1{
	float: left;
}

header .contenedor{
	display: table;
}

section{
	width: 100%;
}

#titulo{
	background: darkgray;
}

#titulo .contenedor{
	margin-top: 50px;	
}

#titulo .contenedor h2{
	padding: 50px 0px 20px;	
	text-align: center;
	font-size: 30px;	
}

#titulo .contenedor p{
	padding: 0px 0px 20px;
	text-align: justify;
}

.tabla {
	width: 90%;
	margin: 40px auto;
}

.tabla h3{
	text-align: center;
	font-size: 18px;
	display: block;
	background-color: #2780e3;
	padding: 10px 0px;
	color: #ffffff;
}

.tabla form{
	border: 1px solid #2780e3;
	padding: 15px;
}

.tabla label{
	display: block;
	font-size: 15px;
	padding: 10px 0px;
	font-weight: bold;
}

.tabla input{
	border: 1px solid gray;
	width: 100%;
	padding: 10px;
}

.tabla select{
	border: 1px solid gray;
	width: 100%;
	padding: 10px;
}

.tabla button{
	background-color: #2D752A;
	color: #ffffff; 
	padding: 10px;
	margin-top: 10px;
}

@media(min-width: 1024px){
	.contenedor{
		width: 1000px;
	}

	.tabla{
		width: 700px;
	}
}